<section
  _ngcontent-lwj-c17=""
  class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio"
>
  <!---->
  <div _ngcontent-lwj-c17="" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-1"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-1.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Diferentes papeles</h2>
        <p _ngcontent-lwj-c17="">papeleria</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-2"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-2.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">iPad Cover</h2>
        <p _ngcontent-lwj-c17="">accesorios</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-3"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-3.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Libro con muchas letras</h2>
        <p _ngcontent-lwj-c17="">libros</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-4"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-4.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Café caliente</h2>
        <p _ngcontent-lwj-c17="">comida</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-5"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-5.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Tarjetas de Presentación</h2>
        <p _ngcontent-lwj-c17="">papeleria</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-6"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-6.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Camisetas con diseños</h2>
        <p _ngcontent-lwj-c17="">ropa</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-7"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-7.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Lapiceros</h2>
        <p _ngcontent-lwj-c17="">accesorios</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-8"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-8.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Pedazos de madera</h2>
        <p _ngcontent-lwj-c17="">madera</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-9"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-9.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Bolsas</h2>
        <p _ngcontent-lwj-c17="">accesorios</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-10"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-10.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Hojas con manchas</h2>
        <p _ngcontent-lwj-c17="">libros</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-11"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-11.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Cajas para cosas</h2>
        <p _ngcontent-lwj-c17="">cajas</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-12"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-12.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Tarjetas de presentación Blancas y Negras</h2>
        <p _ngcontent-lwj-c17="">papeleria</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-13"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-13.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Diseño de Apps</h2>
        <p _ngcontent-lwj-c17="">tecnologia</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-14"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-14.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Papeles sucios</h2>
        <p _ngcontent-lwj-c17="">papeleria</p>
      </div></a
    ><a
      _ngcontent-lwj-c17=""
      class="rk-item ae-masonry__item"
      href="#/item/prod-15"
      ><img _ngcontent-lwj-c17="" alt="" src="assets/img/project-15.jpg" />
      <div _ngcontent-lwj-c17="" class="item-meta" tabindex="0">
        <h2 _ngcontent-lwj-c17="">Camisetas usadas</h2>
        <p _ngcontent-lwj-c17="">ropa</p>
      </div></a
    ><!---->
  </div>
  <!---->
</section>
