<h2>Busquedas</h2>
<hr />
<ul class="list-group">
  <!--
al buscar por pais el path es "" y por eso es obligatorio 
usar el [routerLinkActiveOptions]="{ exact: true }"-->
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Buscar país
  </li>
  <li routerLink="region" routerLinkActive="active" class="list-group-item">
    Por region
  </li>
  <li routerLink="capital" routerLinkActive="active" class="list-group-item">
    Por capital
  </li>
</ul>
