.caja{
    width: 100px;
    height: 100px;
    background-image: url(../img/ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    }
    .contenedor{
    width: 200px;
    height: 200px;
    border:1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    background-image: url(../img/empty.png);
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
    }