

    <div class="row">
        <div class="col-12">
            <!-- <h1>País: <small>{{pais.name.common || pais.name.official}}</small></h1> -->
        </div>
    </div>

    <div class="row">
        
         <div class="col-4">
            <h3>Bandera</h3>
            <!-- <img [src]="pais.flags.svg" class="img-thumbnail img-fluid" /> -->
        </div> 

        <div class="col">
            <h3>Información</h3>
           <!--  <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población</strong> {{ pais.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Código CCA2</strong> {{ pais.cca2 }}
                </li>
                <li class="list-group-item">
                    <strong>Código CIOC</strong> {{ pais.cioc }}
                </li>
            </ul> -->
        </div> 


    </div>

    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            
        <!--    <span class="badge bg-primary me-2">{{ pais.translations['ara'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['spa'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['fra'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['jpn'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['ita'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['cym'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['por'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['nld'].common}}</span>
           <span class="badge bg-primary me-2">{{ pais.translations['swe'].common}}</span>
           <span class="badge bg-primary mr-2">{{ pais.translations['rus'].common}}</span> -->
         
        </div>
    </div>


