<div class="container-fluid">
  <div class="row p-3">
    <div class="col">
      <h5>Buscar:</h5>
      <!-- Disparar evento con el contenido de la caja de búsqueda al pulsar enter -->
      <input type="text" class="form-control" placeholder="Buscar gifs..." 
      [(ngModel)]="valor" (keyup.enter)="buscar()"/>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, obcaecati
      voluptates. Natus deleniti necessitatibus rerum provident sint, sed
      ducimus? Officia, dolores deserunt? Distinctio adipisci, quaerat expedita
      nihil illo numquam. Porro.
    </div>
  </div>
</div>
