body {
  font-family: Arial, Verdana, sans-serif;
}
#piezas {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}
#puzzle {
  border: 1px solid black;
  width: 318px;
  height: 495px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.pieza {
  width: 106px;
  height: 165px;
  background-size: cover;
  margin: 10px;
}
.placeholder {
  background-color: #f2f2f2;
  outline: 1px solid #333;
  width: 106px;
  height: 165px;
  transition: 1s;
}
.placeholder.hover {
  background-color: orange;
}
.placeholder .pieza {
  margin: 0;
}
#mensaje {
  color: black;
  text-align: center;
  display: none;
}
.ganaste {
  background-color: #b3d67c;
}
.ganaste #mensaje {
  display: block;
}
.ganaste .placeholder {
  outline: none;
}
.ganaste #piezas {
  display: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
