:root {
  --yellow-color: #f7df1e;
  --dark-color: #222;
}
.cards {
  border: thin solid var(--dark-color);
  padding: 1rem;
}
.card {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
.card figcaption {
  padding: 1rem;
}
.rotate-45 {
  transform: rotate(45deg);
}
.rotate-135 {
  transform: rotate(135deg);
}
.opacity-80 {
  opacity: 0.8;
}
.header_texto {
  background-color: yellow;
}
.sepia {
  filter: sepia(1);
}
.eventos-flujo div {
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
}
.uno {
  background-color: yellow;
}
.dos {
  background-color: gold;
}
.tres {
  background-color: lightyellow;
}
.caja{
  width: 100px;
  height: 100px;
  background-color: blue;
}
.contenedor{
width: 200px;
height: 200px;
border:1px solid black;
border-radius: 20px;
padding: 20px;
margin-top: 20px;
}
#piezas {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
  }
  #puzzle {
  border: 1px solid black;
  width: 318px;
  height: 495px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  }
  .pieza {
  width: 106px;
  height: 165px;
  background-size: cover;
  margin: 10px;
  }
  .placeholder {
  background-color: #F2F2F2;
  outline: 1px solid #333;
  width: 106px;
  height: 165px;
  transition: 1s;
  }
  .placeholder.hover {
  background-color: orange;
  }
  .placeholder .pieza {
    margin: 0;
    }
    #mensaje {
    color: black;
    text-align: center;
    display: none;
    }
    .ganaste {
    background-color: #B3D67C;
    }
    .ganaste #mensaje {
    display: block;
    }
    .ganaste .placeholder {
    outline: none;
    }
    .ganaste #piezas {
    display: none;
    }
    .container {
    display: flex;
    flex-wrap: wrap;
    }
     