<header _ngcontent-lwj-c12="" class="ae-container-fluid ae-container-fluid--full rk-header">
    <input _ngcontent-lwj-c12="" type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label _ngcontent-lwj-c12="" for="mobile-menu">
        <svg _ngcontent-lwj-c12="">
        <use _ngcontent-lwj-c12="" xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
        <svg _ngcontent-lwj-c12=""><use _ngcontent-lwj-c12="" xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg _ngcontent-lwj-c12=""><use _ngcontent-lwj-c12="" xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
    </label>
    <div _ngcontent-lwj-c12="" class="ae-container-fluid rk-topbar">
        <h1 _ngcontent-lwj-c12="" class="rk-logo">
            <a _ngcontent-lwj-c12="" routerlink="" href="#/">Javier's<sup _ngcontent-lwj-c12="">tm</sup></a>
        </h1>
        <nav _ngcontent-lwj-c12="" class="rk-navigation">
            <ul _ngcontent-lwj-c12="" class="rk-menu">
                <li _ngcontent-lwj-c12="" routerlinkactive="active" class="rk-menu__item active">
                    <a routerLink="home" class="rk-menu__link">Home</a>
                </li>
                <li _ngcontent-lwj-c12="" routerlinkactive="active" class="rk-menu__item">
                    <a routerLink="about" class="rk-menu__link">About</a>
                </li>
            </ul>
            <div _ngcontent-lwj-c12="" class="rk-search"><input _ngcontent-lwj-c12="" type="text" placeholder="Buscando..." id="urku-search" class="rk-search-field ng-untouched ng-pristine ng-valid">
                <label _ngcontent-lwj-c12="" for="urku-search">
                    <svg _ngcontent-lwj-c12="">
                        <use _ngcontent-lwj-c12="" xlink:href="assets/img/symbols.svg#icon-search"></use>
                    </svg>
                </label>
            </div>
        </nav>
    </div>
</header>
