<div *ngIf="!existe; else divPais" class="alert alert-info">
  Espere por favor...
</div>
<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        País: <small>{{ pais.name }}</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flags.svg" class="img-thumbnail img-fluid" />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población</strong> {{ pais.population }}
        </li>
        <li class="list-group-item">
          <strong>Capital</strong> {{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong>Código CIOC</strong> {{ pais.cioc }}
        </li>
      </ul>
      
      
    </div>
  </div>
  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary me-2">{{ pais.translations.es }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.br }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.de }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.fr }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.hr }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.hu }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.it }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.ja }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.nl }}</span>
      <span class="badge bg-primary me-2">{{ pais.translations.pt }}</span>
    </div>
  </div>
  <!-- <pre class="mt-5">
    {{ pais | json }}
    </pre> -->
</ng-template>
