<div class="container-fluid animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <form (ngSubmit)="buscar()" autocomplete="off"> 
                <input type="text"
                       name="termino"
                       class="form-control"
                       [(ngModel)]="termino"
                       placeholder="Buscar país ..."/>
            </form>
        </div>
    </div>
    
      <hr>

</div>


<div *ngIf="hayPaises" class="row">
    <div class="col">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Población </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i=index"
                    class="animate__animated animate__fadeIn animate__faster">
                    <td> {{ i + 1 }} </td>
                    <td>
                        <img [src]="pais.flags.svg" class="small-flag img-fluid"  >
                    </td>
                    <td> {{ pais.capital }}, {{pais.name.common || pais.name.official }}</td>
                    <td>{{ pais.population | number }}</td>
                    <td>
                        <a [routerLink]="['/pais',pais.cioc]">Ver...</a>
                    </td>
                   
                </tr>
            </tbody>
        </table>


    </div>
</div>

